.about{
 padding: 10px;
 text-align: center;
 margin-bottom: 75px;
 h1, h2{
  font-weight: bold;
 }
 h1{
  font-size: 32px;
  text-transform: uppercase;
  margin-left: 20px;
 }
 h2{
  font-size: 24px;
 }
 p{
  width: 300px;
  margin: 0 auto 1rem;
 }
 a{
  font-weight: bold;
  text-transform: uppercase;
  color: $bg-color;
  border: 1px solid $bg-color;
  display: inline-block;
  border-radius: 3px;
  padding: 18px 50px;
  background: $main-color;
  transition: all 0.3s ease-in 0s;
 }
 a:hover{
  background: $bg-color;
  color: $main-color;
 }
}