.navigation{
 display: flex;
 justify-content: space-between;
 background-color: $bg-color;
 position: fixed;
 bottom: 0;
 min-width: 100%;
 .dropdown-toggle::after{
   content: none;
 }
 .dropdown-item.active{
  background-color: transparent;
 }
 button{
   border: none;
 }
 a, button{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $sec-color;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
 }
 .active{
   color: $main-color;
 }
}