.navigation{
 display: flex;
 justify-content: space-between;
 background-color: $bg-color;
 position: fixed;
 bottom: 0;
 min-width: 100%;
 .dropdown-toggle{
  cursor: pointer;
  white-space: nowrap;
  &::after{
    content: none;
  }
 }
 .dropdown-menu {
    position: relative;
    z-index: 2;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }
  .dropdown-menu.show{
    display: block;
    position: absolute;
    inset: auto auto 0px 0px;
    margin-left: 96%;
    transform: translate(-80%,-80px);
  }
  .dropdown-item {
    width: 100%;
    clear: both;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
 .dropdown-item.active{
  background-color: transparent;
 }
 button{
   border: none;
   -webkit-appearance: button;
   text-transform: none;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   border-radius: 0;
 }
 a, button{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $sec-color;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
 }
 .active{
   color: $main-color;
 }
}